<header class="hborder">
  <i class="fas fa-fw fa-5x fa-gamepad"></i>
  <h1>Top Games</h1>
  <div class="hbd tl"></div>
  <div class="hbd tr"></div>
  <div class="hbd bl"></div>
  <div class="hbd br"></div>
</header>

<nav class="hborder">
<a routerLink="/home"><i class="fas fa-house-user"></i></a>
<div id="links" class="vborder">
<a routerLink="/list"><i class="fas fa-fw fa-list-ol"></i>  Listar jogos</a>
<a routerLink="/new"><i class="fas fa-fw fa-plus"></i>  Cadastrar novo jogo</a>
<a routerLink="/about"><i class="fas fa-fw fa-info"></i>  Sobre a aplicação</a>
<div class="vbd tl"></div>
<div class="vbd tr"></div>
<div class="vbd bl"></div>
<div class="vbd br"></div>
</div>
<a id="menu" (click)="menuToggle()"><i class="fas fa-fw fa-bars"></i></a>
<div class="hbd tl"></div>
  <div class="hbd tr"></div>
  <div class="hbd bl"></div>
  <div class="hbd br"></div>
</nav>

<main class="vborder">
<router-outlet></router-outlet>
<div class="vbd tl"></div>
  <div class="vbd tr"></div>
  <div class="vbd bl"></div>
  <div class="vbd br"></div>
</main>

<footer>
<i class="far fa-fw fa-copyright"></i>2020 Jonas Silva.
<div class="hbd tl"></div>
  <div class="hbd tr"></div>
  <div class="hbd bl"></div>
  <div class="hbd br"></div>
</footer>
